:root {
  --font-family-global: 'barlow', Arial, sans-serif;

  --color-bg: #EFF6FF;
  --color-basic-text: #28475B;
  --color-btn-fb: #255A9B;
  --color-btn-in: #0076B6;
  --color-blue: #3698FB;
  --color-grey: #7B8A92;
  --color-lightGrey: #96A5B1;
  --color-lightlightGrey: #AFAFAF;
  --color-lightWhite: #EEEEEE;
  --color-white: #FFFFFF;
  
}

$screen-table: 678px;
$screen-desktop: 1024px;

